<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Visualizar Tarefa</h1>
</div>
<div [formGroup]="formTarefa">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="titulo">Título</label>
      <input type="text" class="form-control" formControlName="titulo" id="titulo">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="descricao">Descrição</label>
      <textarea class="form-control" formControlName="descricao" id="descricao" rows="3"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="titulo">Data de Cadastro</label>
      <input type="text" class="form-control" formControlName="datacadastro" id="datacadastro">
    </div>
    <div class="form-group col-md-4">
      <label for="titulo">Data de Conclusão</label>
      <input type="text" class="form-control" formControlName="dataconclusao" id="dataconclusao">
    </div>
    <div class="form-group col-md-4">
      <label for="titulo">Concluída</label>
      <input type="text" class="form-control" formControlName="concluida" id="concluida">
    </div>
  </div>
  <div class="form-group">
    <a class="btn btn-info" [routerLink]="['/tarefas']">Voltar</a>
  </div>
</div>