<div class="col-lg-10">
<form class="form-signin" [formGroup]="formLogin">
  <h1 class="h3 mb-3 font-weight-normal">Login Any.do</h1>

  <label for="email" class="sr-only">Email</label>
  <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" autofocus>

  <label for="senha" class="sr-only">Password</label>
  <input type="password" id="senha" formControlName="senha" class="form-control" placeholder="Senha">

  <button type="submit" (click)="login(formLogin.getRawValue())" class="btn btn-lg btn-primary btn-block" [disabled]="!formLogin.valid">Login</button>
  <a class="btn btn-link btn-block" [routerLink]="['/cadastrar-usuario']">Cadastre-se</a>
</form>
  </div>
